defaults:
  global:
    resources:
      requests:
        cpu: 400m
        memory: 512Mi
    probes: # TODO: Remove default kubernetes configs after default StreamX Operator defaults adjustment.
      liveness:
        httpGet:
          path: /q/health/live
          port: 8080
        initialDelaySeconds: 0        # Default value
        periodSeconds: 10             # Default value
        timeoutSeconds: 1             # Default value
        successThreshold: 1           # Default value
        failureThreshold: 3           # Default value
        readiness:
          httpGet:
            path: /q/health/ready
            port: 8080
          initialDelaySeconds: 0        # Default value
          periodSeconds: 10             # Default value
          timeoutSeconds: 1             # Default value
          successThreshold: 1           # Default value
          failureThreshold: 3           # Default value
        startup:
          httpGet:
            path: /q/health/startup
            port: 8080
          initialDelaySeconds: 0        # Default value
          periodSeconds: 10             # Default value
          timeoutSeconds: 1             # Default value
          successThreshold: 1           # Default value
          failureThreshold: 3
  delivery:
    replicas: 3

ingestion:
  rest-ingestion:
    ingress:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "500m"
      hosts:
        - host: ingestion.${streamx-ingress-ip}.nip.io
delivery:
  blueprint-web:
    ingress:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - host: puresight.${streamx-ingress-ip}.nip.io
          paths:
            - servicePort: 80
      tls:
        - hosts:
            - puresight.${streamx-ingress-ip}.nip.io
          secretName: blueprint-web.crt
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-cert-cluster-issuer"
  blueprint-search:
    ingress:
      enabled: true
      ingressClassName: "nginx"
      hosts:
        - host: puresight.${streamx-ingress-ip}.nip.io
          paths:
            - path: /search
      tls:
        - hosts:
            - puresight.${streamx-ingress-ip}.nip.io
          secretName: blueprint-search.crt
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-cert-cluster-issuer"
    probes:
      liveness: { }
    components:
      opensearch:
        sidecar: true
        probes:
          readiness:
            httpGet:
              path: /
              port: 9200
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          liveness:
            httpGet:
              path: /
              port: 9200
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
          startup:
            httpGet:
              path: /
              port: 9200
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
