<!doctype html>
<html class="" lang="en">

<head>
  <meta charset="UTF-8" />
  {{#insert name="metaTitle"}} {{#include src="/fragments/headContent.html"}}
</head>

<body data-page-type='Content Page'>
  <div class="min-h-screen bg-gray-50 flex flex-col">
    <div class="nav">{{#include src="/content/psg-demo-ue/nav.html"}}</div>
    {{#insert name="content.html"}} {{#include src="/fragments/footer.html"}}
  </div>
  <script>
    const navBlock = document.querySelector('.nav');
    const logo = navBlock.querySelector('.logo');

    const pictureBlock = logo.querySelector('picture');

    let anchorElement = document.createElement('a');
    anchorElement.setAttribute('href', '/');
    anchorElement.append(pictureBlock.cloneNode(true));

    logo.replaceWith(anchorElement);

    const logoAsset = anchorElement.querySelector('img');
    logoAsset.classList.add(...['h-10', 'w-27']);

    const container = document.createElement('div');
    container.classList.add(...['container', 'mx-auto', 'px-4', 'py-4']);

    const containerInner = document.createElement('div');
    containerInner.classList.add(
      ...['flex', 'items-center', 'justify-between'],
    );
    while (navBlock.firstElementChild) {
      containerInner.append(navBlock.firstElementChild);
    }

    const classes = ['brand', 'sections'];
    classes.forEach((className, index) => {
      const section = containerInner.children[index];
      if (section) {
        section.classList.add(`nav-${className}`);

        if (index === 1) {
          section.classList.add(
            ...['hidden', 'md:flex', 'items-center', 'space-x-8'],
          );
        }
      }
    });

    const navSections = containerInner.querySelector('.nav-sections');
    const navigation = document.createElement('nav');

    if (navSections) {
      const unorderedList = navSections.querySelector('ul');
      unorderedList.classList.add(...['flex', 'space-x-6']);

      const url = 'https://main--psgdemoue--prftadobe.aem.live';
      const anchorLinks = navSections.querySelectorAll('a');
      Array.from(anchorLinks).forEach((anchorLink) => {
        anchorLink.classList.add(...['hover:text-dsg-red']);

        const href = anchorLink.getAttribute('href');

        if (href.startsWith('/')) {
          anchorLink.setAttribute('href', `${url}${href}`);
        }
      });

      while (navSections.firstChild) {
        navigation.appendChild(navSections.firstChild);
      }
      navSections.appendChild(navigation);
    }

    const navTools = document.createElement('div');
    navTools.classList.add(
      ...['flex', 'items-center', 'md:space-x-4', 'space-x-2'],
    );

    const buttonClassList = [
      '[&_svg]:pointer-events-none',
      '[&_svg]:shrink-0',
      '[&_svg]:size-4',
      'disabled:opacity-50',
      'disabled:pointer-events-none',
      'focus-visible:outline-hidden',
      'focus-visible:ring-2',
      'focus-visible:ring-offset-2',
      'focus-visible:ring-ring',
      'font-medium',
      'gap-2',
      'h-10',
      'hover:bg-accent',
      'hover:text-accent-foreground',
      'inline-flex',
      'items-center',
      'justify-center',
      'ring-offset-background',
      'rounded-md',
      'text-sm',
      'transition-colors',
      'w-10',
      'whitespace-nowrap',
    ];

    const accountButton = document.createElement('button');
    accountButton.classList.add(...buttonClassList, ...['relative']);
    accountButton.setAttribute('type', 'button');

    const accountIcon = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'svg',
    );
    accountIcon.setAttribute('height', '24');
    accountIcon.setAttribute('width', '24');
    accountIcon.setAttribute('viewBox', '0 0 24 24');
    accountIcon.setAttribute('fill', 'none');
    accountIcon.setAttribute('stroke', 'currentColor');
    accountIcon.setAttribute('stroke-linecap', 'round');
    accountIcon.setAttribute('stroke-linejoin', 'round');
    accountIcon.setAttribute('stroke-width', '2');
    accountIcon.classList.add(...['lucide', 'lucide-user', 'h-5', 'w-5']);

    const accountPath = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'path',
    );
    accountPath.setAttribute(
      'd',
      'M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2',
    );

    const accountCircle = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'circle',
    );
    accountCircle.setAttribute('cx', '12');
    accountCircle.setAttribute('cy', '7');
    accountCircle.setAttribute('r', '4');

    accountIcon.append(accountPath);
    accountIcon.append(accountCircle);

    accountButton.append(accountIcon);
    accountButton.addEventListener('click', () => {
      document.querySelector('.sign-in').classList.toggle('hidden');
    })

    const cartButton = document.createElement('button');

    cartButton.classList.add(...buttonClassList, ...['relative']);
    cartButton.setAttribute('type', 'button');

    const cartIcon = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'svg',
    );
    cartIcon.setAttribute('height', '24');
    cartIcon.setAttribute('width', '24');
    cartIcon.setAttribute('viewBox', '0 0 24 24');
    cartIcon.setAttribute('fill', 'none');
    cartIcon.setAttribute('stroke', 'currentColor');
    cartIcon.setAttribute('stroke-linecap', 'round');
    cartIcon.setAttribute('stroke-linejoin', 'round');
    cartIcon.setAttribute('stroke-width', '2');

    cartIcon.classList.add(
      ...['lucide', 'lucide-shopping-cart', 'h-5', 'w-5'],
    );

    const cartCircleOne = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'circle',
    );
    cartCircleOne.setAttribute('cx', '8');
    cartCircleOne.setAttribute('cy', '21');
    cartCircleOne.setAttribute('r', '1');

    const cartCircleTwo = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'circle',
    );
    cartCircleTwo.setAttribute('cx', '19');
    cartCircleTwo.setAttribute('cy', '21');
    cartCircleTwo.setAttribute('r', '1');

    const cartPath = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'path',
    );
    cartPath.setAttribute(
      'd',
      'M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12',
    );

    cartIcon.append(cartCircleOne);
    cartIcon.append(cartCircleTwo);
    cartIcon.append(cartPath);

    cartButton.append(cartIcon);

    const cartQuantity = localStorage.getItem("shoppingCartQuantity");
    const cartQuantityBadge = document.createElement('label');
    cartQuantityBadge.classList.add('cart-quantity', 'w-4', 'h-4', 'rounded-full', 'bg-red-600', 'text-white', 'text-[10px]', 'absolute', 'right-0.5', 'top-1');
    cartQuantityBadge.innerText = cartQuantity ? cartQuantity : 0;

    cartButton.append(cartQuantityBadge);

    const containerMob = document.createElement('div');
    containerMob.classList.add(...['hidden', 'mt-4', 'pb-4']);

    const hamburgerBtn = document.createElement('button');

    hamburgerBtn.classList.add(...buttonClassList, ...['md:hidden']);
    hamburgerBtn.setAttribute('type', 'button');

    const hamburgerIcon = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'svg',
    );
    hamburgerIcon.setAttribute('height', '24');
    hamburgerIcon.setAttribute('width', '24');
    hamburgerIcon.setAttribute('viewBox', '0 0 24 24');
    hamburgerIcon.setAttribute('fill', 'none');
    hamburgerIcon.setAttribute('stroke', 'currentColor');
    hamburgerIcon.setAttribute('stroke-linecap', 'round');
    hamburgerIcon.setAttribute('stroke-linejoin', 'round');
    hamburgerIcon.setAttribute('stroke-width', '2');

    hamburgerIcon.classList.add(...['lucide', 'lucide-menu', 'h-5', 'w-5']);

    const hamburgerLineOne = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'line',
    );
    hamburgerLineOne.setAttribute('x1', '4');
    hamburgerLineOne.setAttribute('x2', '20');
    hamburgerLineOne.setAttribute('y1', '12');
    hamburgerLineOne.setAttribute('y2', '12');

    const hamburgerLineTwo = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'line',
    );
    hamburgerLineTwo.setAttribute('x1', '4');
    hamburgerLineTwo.setAttribute('x2', '20');
    hamburgerLineTwo.setAttribute('y1', '6');
    hamburgerLineTwo.setAttribute('y2', '6');

    const hamburgerLineThree = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'line',
    );
    hamburgerLineThree.setAttribute('x1', '4');
    hamburgerLineThree.setAttribute('x2', '20');
    hamburgerLineThree.setAttribute('y1', '18');
    hamburgerLineThree.setAttribute('y2', '18');

    hamburgerIcon.append(
      hamburgerLineOne,
      hamburgerLineTwo,
      hamburgerLineThree,
    );
    hamburgerBtn.append(hamburgerIcon);

    hamburgerBtn.addEventListener('click', () => {
      if (containerMob.classList.contains('hidden')) {
        containerMob.classList.remove('hidden');
        containerMob.classList.add('md:hidden');
      } else {
        containerMob.classList.remove('md:hidden');
        containerMob.classList.add('hidden');
      }
    });

    const searchButtonWrapper = document.createElement('div');
    searchButtonWrapper.classList.add(...['autocomplete']);

    navTools.append(searchButtonWrapper);
    navTools.append(accountButton);
    navTools.append(cartButton);
    navTools.append(hamburgerBtn);

    containerInner.append(navTools);

    const navMobile = document.createElement('div');
    navMobile.classList.add(...['space-y-4']);

    const mobileNavigation = navigation.querySelector('ul').cloneNode(true);
    mobileNavigation.classList.remove('space-x-6');
    mobileNavigation.classList.add(...['flex-col', 'space-y-2']);

    const mobileAnchorLinks = mobileNavigation.querySelectorAll('a');
    Array.from(mobileAnchorLinks).forEach((mobileAnchorLink) => {
      mobileAnchorLink.classList.add(...['block', 'py-2']);
    });
    navMobile.append(mobileNavigation);

    containerMob.append(navMobile);

    container.append(containerInner, containerMob);
    navBlock.append(container);
    navBlock.classList.add(
      ...['bg-white', 'border-b', 'border-gray-200', 'w-full'],
    );

    createSignIn();

    const user01 = {
      firstname: "prft",
      lastname: "lumax",
      email: "prft01@lumax.com",
      password: "prft@123",
      is_subscribed: true
    }

    const user02 = {
      firstname: "perficient",
      lastname: "lumax",
      email: "prft02@lumax.com",
      password: "prft@123",
      is_subscribed: true
    }

    const masterurl = '//master-7rqtwti-f3ef32mfqsxfe.us-4.magentosite.cloud';
    const GRAPHQL_ENDPOINT = `https:${masterurl}/graphql`;
    const HEADERS = {
      'Access-Control-Allow-Origin': '*',
      'mode': 'no-cors',
      'Content-Type': 'application/json',
      'store': 'lumax'
    };

    const fetchRequests = async (url, method, headers, body) => {
      const requestOptions = {
        method,
        headers,
        body,
        redirect: 'follow',
      };
      const response = await fetch(url, requestOptions);
      return await response.json();
    }

    const getUserToken = async (userEmail, userPsw) => {
      const query = JSON.stringify({
        query: `mutation {
      generateCustomerToken(email: "${userEmail}", password: "${userPsw}") {
        token
      }
    }`,
        variables: {},
      });

      const response = await fetchRequests(GRAPHQL_ENDPOINT, 'POST', HEADERS, query);

      return response.data.generateCustomerToken;

    }

    async function signIn(user) {
      let usertest;
      let firstname;
      if (user == "user01") {
        usertest = await getUserToken(user01.email, user01.password);
        firstname = user01.firstname;
      }
      else if (user == "user02") {
        usertest = await getUserToken(user02.email, user02.password);
        firstname = user02.firstname;
      }

      if (usertest !== null) {
        const loggedTitle = document.querySelector('.close-title h5');
        const signInInfo = document.querySelector('.sign-in-information');
        const loggedUser = document.querySelector('.logged-user');
        const welcomeMsg = document.querySelector('.welcome-message');
        const logOutBtn = document.querySelector('.sign-in-buttons button');

        loggedTitle.innerHTML = 'Profile';
        welcomeMsg.innerHTML = `Welcome, ${firstname}!`;
        signInInfo.classList.add('hidden');
        loggedUser.classList.remove('hidden');
        logOutBtn.classList.remove('hidden');

        localStorage.setItem("user_token", usertest.token);
      }
    }

    function createSignIn() {
      const tokenExists = localStorage.getItem("user_token") !== null;

      let userData = {};
      let userName = '';
      if (tokenExists) {
        userData = JSON.parse(localStorage.getItem("user_data"));
        userName = userData?.email.split('@')[0];

      }
      let navTools = document.querySelector('.nav');
      let signInHtml = document.createElement("div");

      signInHtml.classList.add(...['sign-in', 'absolute', 'md:right-4', 'w-full', 'md:w-100', 'z-10', 'bg-white', 'hidden']);

      signInHtml.innerHTML = `
    <div class ="sign-in-wrapper px-6 py-4 grid gap-4 w-full">
      <div class="close-title flex items-center justify-between">
        <h5 class="w-full  sign-in-message">${tokenExists ? 'Profile' : 'Sign-In To Your Account'}</h5>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" fill="currentColor" width="16" height="16" viewBox="0 0 24 24">
        <path d="M 4.9902344 3.9902344 A 1.0001 1.0001 0 0 0 4.2929688 5.7070312 L 10.585938 12 L 4.2929688 18.292969 A 1.0001 1.0001 0 1 0 5.7070312 19.707031 L 12 13.414062 L 18.292969 19.707031 A 1.0001 1.0001 0 1 0 19.707031 18.292969 L 13.414062 12 L 19.707031 5.7070312 A 1.0001 1.0001 0 0 0 18.980469 3.9902344 A 1.0001 1.0001 0 0 0 18.292969 4.2929688 L 12 10.585938 L 5.7070312 4.2929688 A 1.0001 1.0001 0 0 0 4.9902344 3.9902344 z"></path>
        </svg>
      </div>
      <form class="sign-in-information flex justify-center gap-4 ${tokenExists ? 'hidden' : ''}">
        <small class="hidden">The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later.</small>
        <div class="persona1 flex flex-col items-center px-3 py-4 border rounded-md cursor-pointer">
          <span>Persona1</span>
          <svg height="24" width="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="lucide lucide-user h-5 w-5"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        <div class="persona2 flex flex-col items-center px-3 py-4 border rounded-md cursor-pointer">
          <span>Persona2</span>
          <svg height="24" width="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="lucide lucide-user h-5 w-5"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
      </form>
      <div class="logged-user ${tokenExists ? '' : 'hidden'}"">
        <span class="welcome-message">${tokenExists ? `Welcome, ${userName}!` : ''}</span>
        <br/>
        <a href="/my-orders" >My orders</a>
      </div>
      <div class="sign-in-buttons flex items-center flex-col flex-wrap">
        <button type="submit" id="log-out" class="${tokenExists ? '' : 'hidden'} text-dsg-red">Log Out</button>
      </div>
    </div>
  `;
      navTools.append(signInHtml);

      const persona1 = document.querySelector('.persona1');
      const persona2 = document.querySelector('.persona2');
      const closeBtn = document.querySelector('.close-title svg');
      const logOutBtn = document.querySelector('#log-out');
      const loggedTitle = document.querySelector('.close-title h5');
      const signInInfo = document.querySelector('.sign-in-information');
      const loggedUser = document.querySelector('.logged-user');

      persona1.addEventListener('click', () => {
        signIn("user01");
      });
      persona2.addEventListener('click', () => {
        signIn("user02");
      });

      closeBtn.addEventListener('click', () => {
        document.querySelector('.sign-in').classList.add('hidden');
      });

      logOutBtn.addEventListener('click', () => {
        loggedTitle.innerHTML = 'Sign-In To Your Account';
        signInInfo.classList.remove('hidden');
        loggedUser.classList.add('hidden');
        logOutBtn.classList.add('hidden');

        localStorage.removeItem("user_token");
      })
    }
  </script>
</body>

</html>