<meta charset="UTF-8"/>
<meta
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  name="viewport"
/>
<link href="../assets/static/favicon.ico" rel="icon"/>
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="../web-resources/css/fonts.css" rel="stylesheet"/>
<link
  href="../web-resources/css/materialdesignicons@7.2.96.min.css"
  rel="stylesheet"
/>
<link
  href="../web-resources/css/algolia.theme.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../web-resources/css/glide.core.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../web-resources/css/glide.theme.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../web-resources/css/tailwind-output.css"
  rel="stylesheet"
  type="text/css"
/>
<script 
  src="https://assets.adobedtm.com/6851bdae8e57/0d020289eb2a/launch-4787afcc849f.min.js" 
  async>
</script>
