<meta charset="UTF-8"/>
<meta
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  name="viewport"
/>
<link href="../assets/static/favicon.ico" rel="icon"/>
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="../web-resources/css/fonts.css" rel="stylesheet"/>
<link
  href="../web-resources/css/materialdesignicons@7.2.96.min.css"
  rel="stylesheet"
/>
<link
  href="../web-resources/css/algolia.theme.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../web-resources/css/glide.core.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../web-resources/css/glide.theme.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="../web-resources/css/tailwind-output.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- RM: Adding Target anti-flicker script -->
<script>
  !function(e,a,n,t){var i=e.head;if(i){
  if (a) return;
  var o=e.createElement("style");
  o.id="alloy-prehiding",o.innerText=n,i.appendChild(o),setTimeout(function(){o.parentNode&&o.parentNode.removeChild(o)},t)}}
  (document, document.location.href.indexOf("adobe_authoring_enabled") !== -1, "body { opacity: 0 !important }", 500);
</script>
<script 
  src="https://assets.adobedtm.com/6851bdae8e57/0d020289eb2a/launch-4787afcc849f.min.js" 
  async>
</script>
