name: 'Azure: Undeploy StreamX'

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  undeploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Setup Terraform"
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.10.4"

      - name: "Undeploy StreamX"
        env:
          ARM_ACCESS_KEY:
            ${{ secrets.ARM_ACCESS_KEY }}
          ARM_CLIENT_ID:
            ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET:
            ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_TENANT_ID:
            ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID:
            ${{ secrets.ARM_SUBSCRIPTION_ID }}
          TF_VAR_resource_group_name:
            ${{ vars.TF_VAR_RESOURCE_GROUP_NAME }}
          TF_VAR_location:
            ${{ vars.TF_VAR_location }}
          TF_VAR_user_identity_id:
            ${{ vars.TF_VAR_USER_IDENTITY_ID }}
          TF_VAR_public_ip_address:
            ${{ vars.TF_VAR_PUBLIC_IP_ADDRESS }}
          TF_VAR_public_ip_id:
            ${{ vars.TF_VAR_PUBLIC_IP_ID }}
          TF_VAR_cert_manager_lets_encrypt_issuer_acme_email:
            ${{ vars.TF_VAR_cert_manager_lets_encrypt_issuer_acme_email }}
          TF_VAR_streamx_operator_image_pull_secret_registry_email:
            ${{ vars.TF_VAR_streamx_operator_image_pull_secret_registry_email }}
          TF_VAR_streamx_operator_image_pull_secret_registry_password:
            ${{ secrets.TF_VAR_streamx_operator_image_pull_secret_registry_password }}
          INGESTION_HOST:
            ${{ vars.INGESTION_HOST }}
          WEB_HOST:
            ${{ vars.WEB_HOST }}
        run: terraform/scripts/undeploy-streamx.sh